* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

.color-orange {
  color: #fd6e0a;
}

.text-center {
  text-align: center;
}

/* main style  */
header {
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px, bottom right;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 51px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 585px;
}

.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

.banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

.banner-image img {
  max-width: 585px;
  vertical-align: middle;
}

#about {
  padding-top: 130px;
}

.about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 112px;
}

/* .section-heading p {
  text-align: justify;
} */

.about-info {
  display: flex;
  justify-content: space-evenly;
}

.about-info .info-card p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.about-info .info-card h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #757575;
}

#skills {
  padding-top: 130px;
}

#skills .skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill-box {
  display: flex;
  gap: 24px;
}

.skill-box .skill-card {
  padding: 30px;
  max-width: 267px;
  box-shadow: 0px 6px 50px 0 #00000018;
  border-radius: 5px;
}

.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

#resume {
  margin-top: 130px;
}

.resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 50px;
  display: flex;
  gap: 71px;
}

.resume-card {
  width: 511px;
}

.education .section-title {
  font-size: 30px;
  font-weight: 700;
}

.education .card-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-top: 30px;
  margin-bottom: 10px;
}

.education .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.education .card-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.experience .section-title {
  font-size: 30px;
  font-weight: 700;
}

.experience .card-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-top: 30px;
  margin-bottom: 10px;
}

.experience .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.experience .card-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}


footer {
  margin-top: 113px;
  background-color: #FFF8F3;
  padding: 130px 0;
}

.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

.footer-container h2 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}

.footer-container .social {
  max-width: 562px;
}

.footer-container .social p {
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}

.footer-container .icons a {
  margin-right: 24px;
}

.footer-container form input[type="text"], .footer-container form textarea{
  width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575
}
